# Real-time Event Extraction from Online News and Tweets
## Proof of Concept
*Nilani Algiriyage, PhD Student, Joint Center for Disaster Research, Massey University, New Zealand.*

### [Step 1] Real-time News Scaping

In [7]:
!pip uninstall neuralcoref --yes
!pip install neuralcoref --no-binary neuralcoref

WARNING: Skipping neuralcoref as it is not installed.
Collecting neuralcoref
  Downloading neuralcoref-4.0.tar.gz (368 kB)
     |████████████████████████████████| 368 kB 1.0 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from neuralcoref) (1.18.5)
Requirement already satisfied: boto3 in /home/rangika/anaconda3/lib/python3.7/site-packages (from neuralcoref) (1.14.50)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from neuralcoref) (2.24.0)
Requirement already satisfied: spacy>=2.1.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from neuralcoref) (2.3.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/rangika/anaconda3/lib/python3.7/site-packages (from boto3->neuralcoref) (0.10.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from boto3->neuralcoref) (0.3.3)
Requirement already satisfied: botocore<1.18.0,>=1.17.50 in /home/rangika/anaconda3/lib/python3.7/site-packages (from boto3->neuralcoref) (1.17.53)
Requirement already satisfied: idna<3,>=2.5 in /home/rangika/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /home/rangika/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/rangika/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/rangika/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (1.25.9)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (3.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (2.0.3)
Requirement already satisfied: thinc==7.4.1 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (7.4.1)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (0.4.1)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (0.6.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (4.46.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (1.1.3)
Requirement already satisfied: setuptools in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (47.3.1.post20200622)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (1.0.2)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (1.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /home/rangika/anaconda3/lib/python3.7/site-packages (from spacy>=2.1.0->neuralcoref) (1.0.2)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/rangika/anaconda3/lib/python3.7/site-packages (from botocore<1.18.0,>=1.17.50->boto3->neuralcoref) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/rangika/anaconda3/lib/python3.7/site-packages (from botocore<1.18.0,>=1.17.50->boto3->neuralcoref) (2.8.1)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /home/rangika/anaconda3/lib/python3.7/site-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.1.0->neuralcoref) (1.6.1)
Requirement already satisfied: six>=1.5 in /home/rangika/anaconda3/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.18.0,>=1.17.50->boto3->neuralcoref) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /home/rangika/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.1.0->neuralcoref) (3.1.0)
Skipping wheel build for neuralcoref, due to binaries being disabled for it.
Installing collected packages: neuralcoref
    Running setup.py install for neuralcoref ... done
Successfully installed neuralcoref-4.0

In [1]:
import neuralcoref

/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.morphology.Morphology size changed, may indicate binary incompatibility. Expected 104 from C header, got 112 from PyObject
  return f(*args, **kwds)
/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.vocab.Vocab size changed, may indicate binary incompatibility. Expected 96 from C header, got 112 from PyObject
  return f(*args, **kwds)
/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject
  return f(*args, **kwds)

In [2]:
import spacy
import neuralcoref

In [1]:
import spacy
nlp = spacy.load('en')

# load NeuralCoref and add it to the pipe of SpaCy's model
import neuralcoref
coref = neuralcoref.NeuralCoref(nlp.vocab)
nlp.add_pipe(coref, name='neuralcoref')

# # You're done. You can now use NeuralCoref as you usually manipulate a SpaCy document annotations.
# doc = nlp(u'My sister has a dog. She loves him.')

# doc._.has_coref
# doc._.coref_clusters

/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.morphology.Morphology size changed, may indicate binary incompatibility. Expected 104 from C header, got 112 from PyObject
  return f(*args, **kwds)
/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.vocab.Vocab size changed, may indicate binary incompatibility. Expected 96 from C header, got 112 from PyObject
  return f(*args, **kwds)
/home/rangika/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: spacy.tokens.span.Span size changed, may indicate binary incompatibility. Expected 72 from C header, got 80 from PyObject
  return f(*args, **kwds)

In [ ]:
doc = nlp(u'My sister has a dog. She loves him.')

In [2]:
#import libraries
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from geopy.geocoders import Nominatim
from sklearn.cluster import DBSCAN
from newspaper import Article
from nltk.corpus import stopwords 
from bs4 import BeautifulSoup 
from geopy.geocoders import Nominatim
from itertools import chain
import operator
import string
import warnings 
import folium
from collections import Counter
import spacy 
from spacy.lang.en import English # updated
from spacy.matcher import Matcher
pd.options.mode.chained_assignment = None  # default='warn'
#pd.set_option('display.max_colwidth', 0)
warnings.filterwarnings("ignore", category=DeprecationWarning)

%matplotlib inline

#### [1.1] Herald News

In [2]:
df_herald = pd.DataFrame([['One dead after two motorbikes crash in Bay of Plenty',
 'Raglan shooting: Community detention for man who bought gun for accused murderer',
 'One person seriously injured and in hospital after Hamilton house fire',
 'Multiple injuries in State Highway 29 crash near Tauriko, Tauranga'],['https://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=12352774','https://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=12352605','https://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=12352756','https://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&objectid=12352739'],['2020-08-01 08:38:56+12:00','2020-08-01 08:45:12+12:00','2020-08-01 08:55:23+12:00','2020-08-01 08:57:56+12:00']]).T
df_herald.columns = ['Title', 'Link','Date']
df_herald

,Title,Link,Date
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00
1,Raglan shooting: Community detention for man w...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:45:12+12:00
2,One person seriously injured and in hospital a...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:55:23+12:00
3,Multiple injuries in State Highway 29 crash ne...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:57:56+12:00

#### [1.2] RNZ News

In [3]:
df_rnz = pd.DataFrame([['Motorcycles crash leaves one dead near Whakatāne',
 'One person seriously injured in Hamilton house fire'],['https://www.rnz.co.nz/news/national/422481/motorcycles-crash-leaves-one-dead-near-whakatane','https://www.rnz.co.nz/news/national/422458/one-person-seriously-injured-in-hamilton-house-fire'],['2020-08-01 08:30:45+12:00','2020-08-01 08:45:56+12:00']]).T
df_rnz.columns = ['Title', 'Link','Date']
df_rnz

,Title,Link,Date
0,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00
1,One person seriously injured in Hamilton house...,https://www.rnz.co.nz/news/national/422458/one...,2020-08-01 08:45:56+12:00

### [Step 2] Real-time Tweet Extraction

In [4]:
df_tweet = pd.DataFrame([["burn from Hamilton but it's me setting fire to my sims' house with them locked in it"],['2020-08-01 08:38:56+12:00']]).T
df_tweet.columns = ['Title','Date']
df_tweet

,Title,Date
0,burn from Hamilton but it's me setting fire to...,2020-08-01 08:38:56+12:00

In [5]:
list1 = df_herald.Title.to_list()
list2 = df_rnz.Title.to_list()
list3 = df_tweet.Title.to_list()

finalList = list1 + list2 + list3
finalList

['One dead after two motorbikes crash in Bay of Plenty',
 'Raglan shooting: Community detention for man who bought gun for accused murderer',
 'One person seriously injured and in hospital after Hamilton house fire',
 'Multiple injuries in State Highway 29 crash near Tauriko, Tauranga',
 'Motorcycles crash leaves one dead near Whakatāne',
 'One person seriously injured in Hamilton house fire',
 "burn from Hamilton but it's me setting fire to my sims' house with them locked in it"]

### [3] Cluster News Titles and Tweets

In [6]:
nlp = spacy.load('en_core_web_lg')
sent_vecs = {}
docs = []
for title in finalList:
    doc = nlp(title)
    docs.append(doc)
    sent_vecs.update({title:doc.vector})
    
sentences = list(sent_vecs.keys())
vectors = list(sent_vecs.values())

vectors

[array([ 2.03693584e-01,  9.59407985e-02, -1.36530399e-01, -1.14597306e-01,
         1.77369907e-01, -1.09860219e-01, -8.65866989e-02, -8.98338407e-02,
         1.53838933e-01,  2.20342398e+00,  2.31505074e-02, -5.14205992e-02,
         3.21482047e-02,  4.59412113e-02, -3.49897176e-01, -1.33033603e-01,
        -7.08606094e-02,  1.00682104e+00,  4.19289991e-02, -7.72764012e-02,
        -1.68773293e-01,  4.60688993e-02,  1.74670704e-02, -6.49686009e-02,
         1.18285105e-01, -1.19821407e-01, -1.51784211e-01,  3.07731479e-02,
         2.05921322e-01,  2.39058286e-02,  3.24502122e-04,  1.60527825e-02,
        -6.77995980e-02,  1.45091504e-01,  7.32080117e-02, -4.34606001e-02,
         3.93132977e-02,  1.01313397e-01, -1.29441336e-01,  6.01693988e-02,
         4.91640251e-03, -6.90798908e-02, -1.70688070e-02,  1.77018978e-02,
         5.46867959e-02,  1.07588388e-01, -6.62437081e-02,  6.57183081e-02,
         8.24853033e-02,  2.55928393e-02, -4.64865938e-02, -5.19636050e-02,
         5.15748970e-02,  1.97213918e-01, -1.08581685e-01,  5.71160018e-02,
        -1.21344402e-01, -1.20217003e-01,  4.76607904e-02,  1.64418399e-01,
         2.76899640e-03, -4.21535000e-02, -8.28010030e-03,  2.54486471e-01,
        -7.03663975e-02, -4.39261049e-02,  3.59464437e-03,  2.18753014e-02,
        -2.82176994e-02,  2.17083603e-01,  9.30714980e-02, -3.08136996e-02,
         7.93088004e-02,  1.06257185e-01,  1.13591209e-01, -2.18952298e-01,
         5.78127988e-02, -1.34971961e-02, -4.25750017e-02,  6.68642968e-02,
        -4.45720069e-02,  1.64006099e-01, -3.88615020e-02, -8.31329972e-02,
        -1.00102402e-01, -1.15640964e-02,  2.34810021e-02,  7.59496316e-02,
        -4.04726081e-02,  9.27704051e-02, -1.09789707e-01,  4.83192019e-02,
        -1.13650583e-01, -1.80016816e-01,  3.58444974e-02,  1.22635635e-02,
         6.87818974e-02,  7.81596154e-02,  2.29299106e-02, -1.34547263e-01,
        -1.00449800e-01,  1.39106914e-01,  2.85263620e-02, -1.47628307e-01,
         1.33135438e-01, -7.85277963e-01,  5.71660995e-02,  2.12080806e-01,
         2.81982005e-01, -9.03345942e-02,  1.04148194e-01, -3.02228987e-01,
         8.41218084e-02,  2.06651841e-03,  3.79990111e-03, -2.24631000e-02,
         8.74277055e-02,  3.85918677e-01, -1.16633773e-01,  9.36799776e-03,
        -1.13228895e-01,  6.38399553e-03,  1.47595108e-01, -2.55677700e-01,
         9.75909978e-02, -1.49744004e-02, -2.39814036e-02, -5.81882484e-02,
         1.85954981e-02,  1.15892012e-02,  5.11037111e-02,  1.33688807e-01,
        -1.14908973e-02, -1.22460008e-01,  1.03058711e-01, -7.80258179e-02,
        -1.75370015e-02,  1.11725308e-01, -3.53076169e-03,  1.03072785e-01,
        -1.38855612e+00, -2.80400477e-02,  2.54659802e-01,  7.21289497e-03,
         2.21192911e-01,  1.35569811e-01, -2.51298398e-01,  3.71624008e-02,
         2.08445907e-01, -6.01841621e-02, -5.74286059e-02,  9.24240053e-03,
         1.86772645e-01,  5.14457934e-02, -9.28605422e-02, -1.26108259e-01,
        -2.72983965e-02,  2.43465707e-01, -2.35144012e-02, -1.75232992e-01,
        -3.40264961e-02,  2.59349011e-02, -3.77533026e-02,  1.68064803e-01,
         4.94410954e-02, -1.23697780e-01, -1.90315813e-01,  9.29325260e-03,
         2.34494716e-01,  4.22163010e-02,  1.22636937e-01,  9.53117982e-02,
        -8.28519929e-03,  6.86542019e-02, -1.60147607e-01,  7.35100219e-03,
        -7.04208389e-02,  1.74784008e-02,  1.29246205e-01, -1.13708496e-01,
        -7.91791677e-02,  1.12781674e-02, -1.14121005e-01,  2.77878996e-02,
        -1.08043566e-01, -1.66545007e-02, -1.57396798e-03, -1.11634597e-01,
        -1.06510147e-02, -1.12809315e-01,  1.02265120e-01,  7.56446943e-02,
         1.29078981e-02,  1.33274704e-01, -8.14975053e-02,  7.58762136e-02,
        -8.04583654e-02, -4.30761911e-02, -1.02543093e-01, -3.45897898e-02,
        -2.33586147e-01, -5.13438210e-02,  5.21239154e-02, -8.02160054e-02,
         2.14872792e-01, -7.63245206e-03,  7.05892891e-02,  3.62682790e-02,
        -4.42610197e-02,  2.19427310e-02, -2.56729927e-02,  8.06591958e-02,
        -6.82183057e-02, -6.64009973e-02, -1.30365297e-01, -1.14927806e-01,
        -8.21535960e-02,  7.87480101e-02,  5.96250407e-02,  1.75883006e-02,
         3.21593918e-02, -8.92331228e-02,  4.47897619e-04, -4.04286869e-02,
        -1.13706395e-01, -1.04641184e-01,  5.75078418e-03,  2.38954812e-01,
         2.04882007e-02,  1.68168232e-01, -1.13901589e-02,  1.26493067e-01,
         6.45420328e-02,  6.48464039e-02, -1.57028958e-01, -8.70120004e-02,
         2.03027517e-01,  1.04216315e-01, -1.54845297e-01,  1.11222699e-01,
         8.16679969e-02,  8.75949040e-02, -3.68139446e-02, -2.40927283e-02,
         6.50158972e-02, -4.75867987e-02,  4.41272035e-02,  2.68119015e-02,
        -2.45289840e-02, -6.84039071e-02, -1.04745507e-01, -2.62166969e-02,
         1.60279602e-01, -7.74874538e-02,  4.36490960e-02,  2.58517087e-01,
        -4.12423983e-02, -6.41499981e-02, -7.84050003e-02,  1.39092999e-02,
         2.76597798e-01,  1.07631162e-01, -1.86324313e-01,  9.75527316e-02,
         9.10208076e-02, -1.25445843e-01, -1.48669956e-02,  1.03883505e-01,
        -1.21955015e-01, -1.90601796e-01,  7.88360238e-02, -7.09179863e-02,
        -4.13038433e-02, -3.19842398e-01,  8.41758847e-02,  6.74767196e-02,
         1.18763603e-01,  6.89928010e-02,  7.18153194e-02,  7.54558891e-02,
         1.27109692e-01, -1.08519807e-01, -1.58499077e-01,  5.54379821e-03,
         1.18398964e-01, -1.00697502e-01,  8.20199996e-02, -1.75766051e-01,
         1.00407220e-01, -5.51334023e-02, -3.82597893e-01, -1.20835200e-01,
         5.74685931e-02, -3.34822804e-01, -2.27017403e-01,  1.03953974e-02,
        -7.10263997e-02, -2.22080991e-01,  5.24404533e-02, -8.69888067e-02],
       dtype=float32),
 array([ 5.22397608e-02,  1.56728521e-01, -1.40830219e-01, -6.59780130e-02,
         1.07421771e-01, -1.65422469e-01,  1.13061756e-01, -2.40842327e-02,
        -1.31990742e-02,  2.22702694e+00, -3.19042861e-01,  4.74154577e-02,
         1.50425583e-02, -7.42864087e-02, -3.36562693e-01, -4.17037085e-02,
        -1.13948239e-02,  4.29961383e-01,  2.81333011e-02, -2.02346053e-02,
        -1.20345831e-01, -2.37786621e-01,  1.54645771e-01, -2.02015508e-03,
         8.68203640e-02,  3.67700011e-02, -3.13352309e-02, -1.07799925e-01,
         1.90606117e-01,  6.49497956e-02, -6.76481277e-02,  2.93220188e-02,
        -1.78699985e-01,  1.39815323e-02,  1.28643453e-01, -2.39627689e-01,
         1.51188355e-02, -9.65007693e-02,  6.38106167e-02,  9.48768482e-02,
         1.66251004e-01,  1.52908452e-02,  9.43516940e-02, -3.43307018e-01,
         4.95520756e-02,  8.74726847e-02, -1.59783214e-01,  1.26206070e-01,
        -7.90659860e-02,  2.05832303e-01, -9.74433795e-02,  6.98276842e-03,
         1.37203056e-02,  1.99150637e-01, -2.25249212e-02,  2.79339757e-02,
        -5.82390241e-02, -8.53177011e-02, -6.85448796e-02, -6.86008763e-03,
        -1.02378383e-01, -1.25080183e-01,  1.23378329e-01,  9.53095332e-02,
         1.96476668e-01, -2.34931856e-01, -2.11666927e-01,  1.18564993e-01,
        -1.01458773e-01, -2.40648374e-01, -1.68470383e-01, -3.55682224e-02,
        -4.59973030e-02, -5.36376983e-02,  1.08244531e-01, -1.93782359e-01,
         6.31362870e-02, -9.23394635e-02, -4.60316874e-02,  2.63109744e-01,
        -1.97052464e-01,  8.00655037e-02,  4.35616709e-02, -1.46070689e-01,
         1.92796648e-01,  1.21358439e-01,  6.05835468e-02, -2.07111761e-01,
         1.77413553e-01,  1.24384470e-01,  3.17290053e-02,  2.89484626e-03,
        -2.77251508e-02, -1.90216392e-01, -1.19791314e-01, -2.72148311e-01,
        -1.57647561e-02,  4.58652973e-02, -6.40376611e-03, -1.00347213e-01,
        -1.78981759e-02,  2.93849528e-01,  4.03018259e-02, -1.58276767e-01,
         5.25238477e-02, -5.28945506e-01, -9.55546275e-03, -6.45416463e-03,
         1.24569461e-01,  4.22903039e-02,  1.12652853e-01,  1.12625845e-01,
        -3.67920324e-02,  5.61516136e-02,  1.88107358e-03,  2.30182722e-01,
         5.75976931e-02,  2.96933763e-02, -5.15473485e-02,  1.52995557e-01,
         5.87095656e-02,  1.07061546e-02,  1.63155064e-01, -1.70208603e-01,
         6.72723055e-02, -6.79017603e-02, -1.97205395e-01, -9.39546898e-02,
        -1.17549367e-01, -2.63508372e-02, -7.59041607e-02,  1.39455453e-01,
        -2.14395136e-01, -2.10034624e-01,  4.43401523e-02,  3.02890148e-02,
        -2.95107700e-02,  1.34707689e-01,  1.19828701e-01, -1.99400764e-02,
        -1.05625260e+00, -6.57874942e-02,  1.79652631e-01, -7.93021470e-02,
        -2.60857772e-02,  4.18562479e-02,  4.81798463e-02, -8.44426155e-02,
         5.36681488e-02, -2.07650512e-01, -1.08443059e-01,  2.66570766e-02,
        -2.55564928e-01, -9.90355536e-02, -6.47933111e-02,  4.09040041e-02,
        -1.43208921e-01, -9.24363285e-02,  9.73018408e-02, -2.38368511e-01,
        -1.55803844e-01, -1.17821455e-01, -8.92900117e-03,  1.28249228e-01,
        -9.66227576e-02, -2.60998476e-02, -2.92919967e-02, -1.86816365e-01,
         4.78257798e-02,  7.48977736e-02, -6.50456920e-02, -2.58299112e-02,
         1.04795620e-01,  1.07634671e-01, -1.07665695e-01, -4.34193714e-03,
        -6.38113096e-02,  1.16970763e-01,  1.40493527e-01,  2.90398113e-02,
        -6.95753917e-02,  5.17301485e-02, -2.81904399e-01,  7.88107608e-03,
        -8.69408157e-03,  1.38224229e-01, -1.28558785e-01,  9.06323269e-03,
         8.73479024e-02,  3.67262289e-02, -2.31825694e-01,  9.36292261e-02,
        -1.22816525e-01,  5.42746335e-02,  9.13049281e-02,  1.07093841e-01,
        -7.80242607e-02, -6.68535978e-02, -1.87727716e-02,  3.39964665e-02,
         1.13694355e-01,  2.94583123e-02, -4.20487002e-02, -1.12680919e-01,
         1.02234378e-01,  3.95687670e-02, -1.12197094e-01,  1.45924240e-01,
        -9.64927673e-02,  5.78853115e-02,  5.56200929e-02, -4.46324572e-02,
         9.60976556e-02,  6.52939230e-02,  2.48227835e-01, -7.13268444e-02,
        -2.03686804e-01,  4.86797020e-02, -1.19405232e-01, -3.23194526e-02,
        -3.52986827e-02,  1.79538757e-01, -1.58780545e-01,  9.23181474e-02,
        -9.75620002e-02, -8.07715766e-03,  1.32221222e-01,  1.67503729e-01,
        -4.91627045e-02,  8.82060081e-02, -1.96590155e-01,  7.45825469e-02,
        -2.85873841e-02, -1.22893378e-01, -1.37508493e-02, -1.00029185e-01,
        -5.32376813e-03,  6.75412267e-02,  5.67309111e-02,  2.17671528e-01,
        -7.72960037e-02, -6.69316389e-03, -3.88450353e-05, -4.19389233e-02,
         1.51591003e-01,  3.21271002e-01, -1.48250163e-01, -4.06841806e-04,
        -2.47196890e-02,  2.91029233e-02, -9.50229168e-02,  1.79438919e-01,
        -2.56210733e-02,  5.29114641e-02, -1.64326839e-02,  1.19332604e-01,
         3.31239961e-02,  1.28616001e-02, -4.83884476e-03, -2.08348744e-02,
        -2.03520693e-02,  2.26751462e-01, -1.30245015e-01, -2.78846920e-02,
        -1.61818057e-01,  1.16442390e-01,  1.38092292e-02,  8.30490664e-02,
        -1.46570772e-01, -1.35762244e-01,  1.07859939e-01, -1.40207469e-01,
        -8.00227970e-02, -1.27638760e-03,  5.63644022e-02,  5.62906452e-02,
         1.31250083e-01,  3.78999077e-02,  2.75732316e-02, -4.57567647e-02,
        -3.86007652e-02,  2.38226160e-01, -4.67886105e-02,  1.69879701e-02,
        -9.93576869e-02, -3.46392244e-02,  8.14022347e-02,  1.48832267e-02,
        -1.40433386e-01, -1.48288682e-01, -8.67167711e-02, -1.75459310e-01,
        -5.74253825e-03, -1.12230077e-01,  2.22373866e-02, -6.12446889e-02,
        -2.26387396e-01, -3.49274613e-02, -1.87783077e-01,  2.91295856e-01],
       dtype=float32),
 array([-3.83856371e-02,  1.58120364e-01, -1.02042623e-01, -6.22421764e-02,
         1.08161539e-01, -2.50509262e-01, -7.10676312e-02, -3.56355399e-01,
         1.33974522e-01,  2.64829183e+00, -2.95907468e-01, -2.72259992e-02,
        -8.08614492e-02, -8.94027948e-02, -3.15655440e-01, -3.81619073e-02,
         4.21739928e-02,  9.34150100e-01, -2.92949919e-02, -1.49585903e-01,
        -1.78499110e-02, -1.96881592e-03, -7.74760097e-02, -1.70460925e-01,
         2.12482825e-01,  1.24516347e-02, -2.21898943e-01, -9.18300077e-03,
         1.50547653e-01, -1.78152338e-01, -9.55129936e-02,  1.83118191e-02,
        -2.96800062e-02,  8.95791799e-02,  6.98454604e-02, -7.96106383e-02,
         3.07228081e-02,  3.20920683e-02, -1.03391893e-01, -4.76109236e-03,
         1.86072841e-01,  9.61515456e-02,  7.73374587e-02, -7.75578693e-02,
        -6.50258139e-02,  6.24377243e-02, -1.59304082e-01, -3.02616414e-02,
         4.11176346e-02,  1.03936002e-01, -5.95782734e-02, -1.94326356e-01,
         9.23347250e-02,  7.26077855e-02, -1.54996634e-01, -9.04336572e-03,
        -2.47959085e-02, -8.27547312e-02,  1.27551451e-01,  4.45668176e-02,
        -7.46991858e-02, -3.29520069e-02, -2.24525444e-02,  1.42756730e-01,
         1.03574827e-01, -5.89069985e-02,  3.72231342e-02, -7.08027044e-03,
         1.99230909e-02,  1.81609258e-01, -5.10709062e-02, -7.14699104e-02,
        -1.33749153e-02, -1.28813565e-01,  1.86010107e-01, -5.97349964e-02,
         1.89090550e-01, -6.72256276e-02, -7.64692724e-02,  4.62230816e-02,
         1.21628173e-01,  3.23637694e-01,  2.18625851e-02, -9.05681774e-03,
         4.99860048e-02, -3.91945690e-02,  3.25517297e-01, -8.48569125e-02,
        -1.96732711e-02, -1.89994518e-02, -8.47362056e-02,  1.09909233e-02,
        -1.81104362e-01, -2.99969912e-01,  8.95945076e-03, -2.24674374e-01,
         1.24372371e-01, -2.79722735e-02, -2.16485448e-02,  2.39075795e-02,
        -6.63250014e-02,  2.02756107e-01,  5.90175055e-02, -6.95506409e-02,
         1.60460502e-01, -7.80155420e-01, -4.80281711e-02,  1.71713635e-01,
         8.46518204e-03, -1.67211726e-01,  9.93854478e-02, -8.96342695e-02,
         2.81617269e-02, -1.92420911e-02,  2.94962749e-02,  2.45437305e-02,
         2.08113283e-01,  2.10970640e-01, -4.44705486e-02,  6.32440373e-02,
        -4.49169017e-02,  6.73764497e-02,  2.32301012e-01, -2.64395118e-01,
         5.06422296e-02, -1.38424829e-01, -1.63617998e-01, -6.51225895e-02,
        -3.17107886e-02,  2.29869969e-02,  5.36346808e-02, -1.24877840e-02,
        -1.18905373e-01, -1.22621916e-01,  2.90708035e-01,  5.51426969e-02,
         4.89297248e-02,  7.09581794e-03,  5.46888150e-02,  6.44290969e-02,
        -1.14539278e+00,  7.77200758e-02,  1.26571730e-01,  6.97125420e-02,
         4.21188213e-02,  1.45162091e-01, -1.67434633e-01,  6.05770908e-02,
         1.63112089e-01, -2.33902827e-01, -1.19015269e-01,  1.89484820e-01,
         9.70336273e-02,  1.38643384e-01,  3.96310538e-02,  1.83841288e-02,
        -5.38279042e-02,  7.99748152e-02, -4.33904491e-02, -1.17623471e-01,
         2.10979059e-02,  5.32601848e-02, -4.45326343e-02,  7.51598179e-02,
         1.46582365e-01, -2.32550189e-01,  8.76263436e-03,  1.74780309e-01,
         5.67786358e-02,  1.52326092e-01, -2.99765114e-02,  1.75333638e-02,
         8.48335959e-03, -1.12704180e-01, -7.24289119e-02,  3.33188139e-02,
        -7.24500120e-02,  1.45793542e-01,  1.11614637e-01,  2.07339097e-02,
        -6.11428246e-02, -4.94689979e-02, -4.85841781e-02, -3.14008221e-02,
        -4.56814654e-02,  1.77967548e-01, -2.65446361e-02,  3.29807326e-02,
         1.56797826e-01, -7.85320774e-02, -1.30437449e-01,  7.53638223e-02,
         7.13749081e-02,  6.73216283e-02,  4.83799092e-02,  2.12404355e-01,
        -9.18711424e-02, -1.53879836e-01, -6.47703633e-02,  3.82836349e-02,
        -8.86088461e-02, -4.20208126e-02,  4.22153324e-02, -5.52737340e-02,
         1.16314895e-01,  1.15577482e-01, -6.32370859e-02,  3.35380714e-03,
         1.09048001e-01, -6.99632568e-03, -8.63133594e-02,  1.88870534e-01,
         2.65381746e-02, -2.79673338e-02,  1.42161809e-02, -1.56174213e-01,
        -2.28624567e-02,  5.19697219e-02, -3.64964157e-02, -1.32428296e-02,
         4.49750908e-02,  8.80073607e-02, -8.61729160e-02,  9.59670991e-02,
        -9.91095379e-02, -4.65776697e-02, -1.30515352e-01,  2.01823130e-01,
        -7.81919062e-02, -9.51549709e-02, -2.17457622e-01,  1.35738119e-01,
         4.88956682e-02, -2.58014556e-02, -1.50848925e-01, -2.35725164e-01,
         1.40798464e-01, -2.18259096e-02, -1.02731012e-01, -2.79507264e-02,
         1.11520998e-02,  3.76874544e-02,  1.41292140e-01,  1.08934186e-01,
         3.03348191e-02, -3.63880880e-02,  9.96727496e-02, -3.90008767e-03,
        -1.67951152e-01, -1.35676920e-01, -1.51971161e-01,  5.36091812e-02,
         7.20442757e-02,  5.01962341e-02,  1.18151970e-01,  1.13135725e-01,
         6.66981936e-02, -6.20353669e-02,  1.36340857e-02,  6.06069006e-02,
        -1.97642725e-02,  8.28258991e-02, -1.85931846e-02, -7.62752667e-02,
        -1.28580900e-02,  2.50113178e-02, -8.01231787e-02,  7.31535181e-02,
        -2.52048939e-01, -9.53606442e-02,  1.01225898e-01, -8.73098895e-02,
        -1.03721805e-01, -8.86758268e-02, -7.73789287e-02,  2.22265825e-01,
        -3.26554500e-03,  1.66190565e-01, -2.10585296e-02,  1.96528256e-01,
         5.27347326e-02, -1.52766675e-01, -2.50582904e-01,  6.88958019e-02,
        -6.79263100e-02,  5.98825105e-02,  1.17884941e-01,  7.32640103e-02,
        -3.45420800e-02,  1.08227273e-03, -5.21189943e-02, -4.35355455e-02,
         1.13805182e-01, -4.12290953e-02, -1.12228699e-01,  1.43288169e-02,
        -1.51915550e-01, -2.31252890e-02, -2.24040002e-02,  7.17549177e-04],
       dtype=float32),
 array([ 6.88796341e-02,  2.36199901e-01,  8.44690297e-03, -2.71678213e-02,
         2.39145532e-01, -7.06155179e-03, -2.67868415e-02,  6.53484538e-02,
         1.99389458e-01,  1.84520006e+00, -1.98748261e-01,  1.92227075e-03,
         9.08692777e-02,  1.43847167e-01, -4.84408170e-01, -8.51986408e-02,
         1.28373548e-01,  1.01082540e+00,  8.23165476e-02, -4.08235528e-02,
        -6.55433610e-02,  1.12900548e-01,  1.71902552e-01, -1.57984450e-01,
         1.54134363e-01,  7.88878202e-02, -1.20143272e-01,  5.49891032e-03,
         1.99172452e-01,  5.87545782e-02, -2.52239984e-02, -5.44292778e-02,
        -1.62191197e-01, -1.28311897e-02,  9.86281782e-03, -2.51646321e-02,
         4.93107811e-02,  1.60415366e-01, -8.23745430e-02,  1.00174911e-01,
         1.14072554e-01,  6.57356307e-02,  6.48563541e-03,  6.08562194e-02,
        -1.21757552e-01,  1.02847725e-01,  5.20365387e-02,  5.00852838e-02,
        -3.65166478e-02, -9.25274566e-02,  7.71366358e-02, -5.13873957e-02,
        -3.00540552e-02,  1.93515912e-01, -1.01725906e-01,  3.58393878e-01,
         6.11818396e-03, -4.31245565e-03,  2.74017323e-02,  8.50830004e-02,
        -4.03047279e-02,  1.06679173e-02, -6.13836423e-02,  2.08628565e-01,
         9.85015407e-02,  4.17033173e-02, -5.25905490e-02,  1.02235787e-02,
         1.02553725e-01,  3.00132006e-01,  2.00333614e-02, -9.66323614e-02,
         1.01906188e-01,  9.39575359e-02,  1.08957715e-01, -1.48933813e-01,
         8.57051834e-02,  1.38390874e-02, -4.70743626e-02, -2.84008961e-03,
         1.73734963e-01,  1.29416555e-01,  8.40189159e-02, -1.00712545e-01,
        -8.42326358e-02, -2.99302340e-02,  2.96740890e-01,  4.30257209e-02,
        -7.29651749e-02, -2.55441666e-03, -8.05861652e-02, -4.44057249e-02,
        -1.98168933e-01, -2.71826476e-01,  9.03408453e-02, -1.91508215e-02,
         2.07745563e-03,  9.16683376e-02,  2.19402667e-02, -7.14199096e-02,
        -2.70517282e-02,  1.72617376e-01, -1.14993695e-02,  1.90877100e-03,
         3.14247310e-02, -4.42217261e-01, -1.07146665e-01,  2.09462985e-01,
         4.55718152e-02,  6.45928085e-02, -8.55090842e-02, -5.83737232e-02,
         6.15160912e-02, -5.55307046e-02, -4.21101786e-02, -1.37118265e-01,
         1.86401471e-01,  1.64000001e-02, -1.93531811e-01, -9.59454477e-02,
         5.73074259e-03,  1.06626824e-01,  3.75247262e-02, -2.76898086e-01,
         2.81109312e-03, -1.23874180e-01,  2.55980715e-02,  5.89584112e-02,
         4.49620932e-02,  4.87090908e-02,  1.30713448e-01, -5.54510951e-02,
        -7.05872700e-02, -1.98766559e-01,  2.39394531e-01, -4.24697250e-02,
        -8.97652805e-02, -9.45925936e-02, -6.03225455e-02,  1.52208716e-01,
        -3.04446101e-01,  1.04022719e-01,  9.91421714e-02, -5.61337732e-02,
         1.36381641e-01,  1.94201082e-01, -7.55934641e-02, -1.22071892e-01,

In [7]:
x = np.array(vectors)
n_classes = {}

In [8]:
for i in np.arange(0.001, 1, 0.002):
    dbscan = DBSCAN(eps=i, min_samples=2, metric='cosine').fit(x)
    n_classes.update({i:len(pd.Series(dbscan.labels_).value_counts())})
    
dbscan = DBSCAN(eps=0.15, min_samples=2, metric='cosine').fit(x)

In [9]:
labels = dbscan.labels_

# Number of clusters in labels, ignoring noise if present.
n_clusters_ = len(set(labels)) - (1 if -1 in labels else 0)
n_noise_ = list(labels).count(-1)
print('Estimated number of clusters: %d' % n_clusters_)
print('Estimated number of noise points: %d' % n_noise_)

Estimated number of clusters: 2
Estimated number of noise points: 2

In [10]:
labels

array([ 0, -1,  1, -1,  0,  1,  1])

In [11]:
results = pd.DataFrame({'label':dbscan.labels_, 'sent':sentences})
example_result = results[results.label == 0].sent.tolist()
example_result

['One dead after two motorbikes crash in Bay of Plenty',
 'Motorcycles crash leaves one dead near Whakatāne']

In [12]:
df4 = df_herald[df_herald['Title'].isin(example_result)]
df5 = df_rnz[df_rnz['Title'].isin(example_result)]
#df6 = df_tweet[df_tweet['Title'].isin(example_result)]

In [13]:
bigdata = pd.concat([df4,df5], ignore_index=True)
bigdata

,Title,Link,Date
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00

### [4] Extract candidates for When, Where, What, from Newa Headlines and Tweets

#### [4.1] When? -from Title

In [14]:
nlp = spacy.load('en_core_web_lg')
bigdata['When_Title'] = bigdata['Title'].apply(lambda row: ",".join([ent.text for ent in nlp(row).ents if ent.label_== "DATE" or ent.label_=='TIME']))
bigdata['When_Title']

0
1
Name: When_Title, dtype: object

#### [4.2] Where? -from Title

In [15]:
#nlp = spacy.load('en_core_web_lg')

bigdata['Where_Title'] = bigdata['Title'].apply(lambda row: ",".join([ent.text for ent in nlp(row).ents if (ent.label_=='GPE' or ent.label_=='LOC' or ent.label_=='FAC')]))
bigdata['Where_Title']

0    Bay of Plenty
1
Name: Where_Title, dtype: object

#### [4.3] What? -from Title

In [16]:
nlp = spacy.load("en_core_web_sm") 
def dep_subtree(token, dep):
  #print(token, dep)
  deps =[child.dep_ for child in token.children]
  
  child=next(filter(lambda c: c.dep_==dep, token.children), None)
  #print(child)
  if child != None:
    return " ".join([c.text for c in child.subtree])
  else:
    return ""



def extract_events_spacy(line):
    #line=p.sub('', line)
    events = []
    doc = nlp(line)
    for tok in doc:
        current = tok
        if current.dep_ == "ROOT":
            current = current.head
            #print(current.text)
            desc = " ".join(filter(None,[
                                 current.text,
                                 dep_subtree(current,"dobj")]))

    events = events + [(desc)]
    return events

In [17]:
bigdata['What_Title'] = bigdata['Title'].apply(extract_events_spacy)
bigdata.head()

,Title,Link,Date,When_Title,Where_Title,What_Title
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,[dead]
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,[leaves one dead]

In [18]:
bigdata['What_Title'] = bigdata.What_Title.astype(str).str.replace('\[|\]|\'', '')
bigdata['What_Title']

0               dead
1    leaves one dead
Name: What_Title, dtype: object

### [5] Scrape News Body Text

In [19]:
bigdata = bigdata.dropna()  
eventURLList = bigdata['Link'].tolist()

#PubDate = []
#NewsTitle = []
NewsData = []
for url in eventURLList:
    article = Article(url)
    article.download()
    article.parse()
    #PubDate.append(article.publish_date)
    NewsData.append(article.text)
    #NewsTitle.append(article.title)
    


bigdata['Description'] = pd.Series(NewsData, index=bigdata.index)
bigdata.head()
#eventURLList

,Title,Link,Date,When_Title,Where_Title,What_Title,Description
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,leaves one dead,One person has died and another has minor inju...

In [20]:
contraction_mapping = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not",

                           "didn't": "did not", "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not",

                           "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is",

                           "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would",

                           "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would",

                           "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam",

                           "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have",

                           "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock",

                           "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have",

                           "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is",

                           "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as",

                           "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would",

                           "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have",

                           "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have",

                           "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are",

                           "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are",

                           "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is",

                           "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have",

                           "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have",

                           "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all",

                           "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have",

                           "you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have",

                           "you're": "you are", "you've": "you have"}

In [21]:
#stop_words = set(stopwords.words('english'))
def  text_cleaner2(text):
    newString = text
    
    #newString = newString.replace('/', '')
    newString = BeautifulSoup(newString, "lxml").text
    newString = re.sub('\""(.+?)\""', '', newString)#remove double quotes
    newString = re.sub('Advertisement', '', newString)# Remove 'Headline:' part
    newString = re.sub('Photo', '', newString)
    newString = re.sub('''Video will play in Play now Don't auto play''', '', newString)
    newString = re.sub('Never auto play', '', newString)
    newString = re.sub(r'\([^)]*\)', '', newString)
    newString = (re.sub(r'\b[A-Z]+\b', '', newString))#remove capital letters
    newString = re.sub('"','', newString)
    newString = re.sub(r"http\S+", "", newString)#remove twitter links
    newString = ' '.join([contraction_mapping[t] if t in contraction_mapping else t for t in newString.split(" ")])    
    newString = re.sub(r"'s\b","",newString)
    newString = re.sub(',','', newString)#remove commas
    #newString = ' '.join([contraction_mapping[t] if t in contraction_mapping else t for t in newString.split(" ")])    
    #newString = re.sub(r"'s\b","",newString)
    #newString = re.sub(r'[^\w\s]','',newString)#remove punctuation
    return newString

bigdata['Tidy_News'] = np.vectorize(text_cleaner2)(bigdata['Description'])
bigdata.head()

,Title,Link,Date,When_Title,Where_Title,What_Title,Description,Tidy_News
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,leaves one dead,One person has died and another has minor inju...,One person has died and another has minor inju...

#### [5.1] Extract first N sentences using the Inverted Pyramid Structure

In [22]:
nlp = English()
nlp.add_pipe(nlp.create_pipe('sentencizer')) # updated


def split_sentences(document):
    SentencesList = []
    doc = nlp(document)
    sentences = [sent.string.strip() for sent in doc.sents][:6]
    
    SentencesList.append(sentences)
    #print(len(sentences))
    #print(SentencesList)
    return SentencesList



#split_sentences(string1)
#df2['first_sentences'] = np.vectorize(split_sentences)(df2['Description'])

bigdata['first_sentences'] = bigdata['Tidy_News'].apply(split_sentences)
bigdata.head()

,Title,Link,Date,When_Title,Where_Title,What_Title,Description,Tidy_News,first_sentences
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[[One person has died after two motorbikes cra...
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,leaves one dead,One person has died and another has minor inju...,One person has died and another has minor inju...,[[One person has died and another has minor in...

In [23]:
#bigdata['liststring'] = bigdata['first_sentences'].apply(lambda x: ','.join(map(str, x)))
bigdata['liststring'] = bigdata.first_sentences.astype(str).str.replace('\[|\]|\'', '')
bigdata.head(1)

,Title,Link,Date,When_Title,Where_Title,What_Title,Description,Tidy_News,first_sentences,liststring
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[[One person has died after two motorbikes cra...,One person has died after two motorbikes crash...

#### [5.2] When? -from Body

In [24]:
#nlp = spacy.load('en_core_web_lg')

bigdata['When_Body'] = bigdata['liststring'].apply(lambda row: ",".join([ent.text for ent in nlp(row).ents if ent.label_== "DATE" or ent.label_=='TIME']))
bigdata['When_Body']

0
1
Name: When_Body, dtype: object

In [25]:
def time_parse(line):
    timestrings = []
    r = re.compile(r'(\d*[:.]\d{2}\s?(?:AM|PM|am|pm))')
    x = r.findall(line)
    timestrings.append(x)
    return timestrings

In [26]:
bigdata['When_Body_Regex'] = bigdata['liststring'].apply(lambda row: time_parse(row))
bigdata['When_Body_Regex'] = bigdata.When_Body_Regex.astype(str).str.replace('\[|\]|\'', '')
bigdata['When_Body_Regex']

0    3.15pm
1    3.15pm
Name: When_Body_Regex, dtype: object

#### [5.3] Where? -from Body

In [27]:
nlp = spacy.load('en_core_web_lg')
bigdata['Where_Body'] = bigdata['liststring'].apply(lambda row: ",".join([ent.text for ent in nlp(row).ents if (ent.label_=='GPE' or ent.label_=='LOC' or ent.label_=='FAC')]))
bigdata['Where_Body']

0    the Bay of Plenty,Bell Rd,Nukuhou
1        Nukuhou,Whakatāne,Eastern Bay
Name: Where_Body, dtype: object

#### [5.4] What? -from Body

In [28]:
nlp = spacy.load("en_core_web_sm") 
def dep_subtree(token, dep):
  #print(token, dep)
  deps =[child.dep_ for child in token.children]
  
  child=next(filter(lambda c: c.dep_==dep, token.children), None)
  #print(child)
  if child != None:
    return " ".join([c.text for c in child.subtree])
  else:
    return ""



def extract_events_spacy2(line):
    #line=p.sub('', line)
    events = []
    
    for l in line.split('.'):
#         l = re.sub('said', '', l)
#         l = re.sub('asked', '', l)
#         l = re.sub('were', '', l)
        #print(l)
        doc = nlp(l)
        for tok in doc:
            current = tok
            if current.dep_ == "ROOT":
                current = current.head
                #print(current.text)
                desc = " ".join(filter(None,[
                                 current.text,
                                 dep_subtree(current,"dobj")]))

        events = events + [(desc)]
        events[:] = [x for x in events if "asked" not in x]
        events[:] = [x for x in events if "said" not in x]
    return events

In [29]:
bigdata['What_Body'] = bigdata['liststring'].apply(extract_events_spacy2)
bigdata.head()

,Title,Link,Date,When_Title,Where_Title,What_Title,Description,Tidy_News,first_sentences,liststring,When_Body,When_Body_Regex,Where_Body,What_Body
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[[One person has died after two motorbikes cra...,One person has died after two motorbikes crash...,,3.15pm,"the Bay of Plenty,Bell Rd,Nukuhou","[died, occurred, suffered minor injuries]"
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,leaves one dead,One person has died and another has minor inju...,One person has died and another has minor inju...,[[One person has died and another has minor in...,One person has died and another has minor inju...,,3.15pm,"Nukuhou,Whakatāne,Eastern Bay","[died, involved two motorcycles, 15pm, attendi..."

In [30]:
bigdata['What_Body'] = bigdata.What_Body.astype(str).str.replace('\[|\]|\'', '')
bigdata.head()

,Title,Link,Date,When_Title,Where_Title,What_Title,Description,Tidy_News,first_sentences,liststring,When_Body,When_Body_Regex,Where_Body,What_Body
0,One dead after two motorbikes crash in Bay of ...,https://www.nzherald.co.nz/nz/news/article.cfm...,2020-08-01 08:38:56+12:00,,Bay of Plenty,dead,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[[One person has died after two motorbikes cra...,One person has died after two motorbikes crash...,,3.15pm,"the Bay of Plenty,Bell Rd,Nukuhou","died, occurred, suffered minor injuries"
1,Motorcycles crash leaves one dead near Whakatāne,https://www.rnz.co.nz/news/national/422481/mot...,2020-08-01 08:30:45+12:00,,,leaves one dead,One person has died and another has minor inju...,One person has died and another has minor inju...,[[One person has died and another has minor in...,One person has died and another has minor inju...,,3.15pm,"Nukuhou,Whakatāne,Eastern Bay","died, involved two motorcycles, 15pm, attendin..."

In [31]:
bigdata['liststring'].tolist()

['One person has died after two motorbikes crashed in the Bay of Plenty., The crash occurred at 3.15pm on Bell Rd in Nukuhou south of Whakatāne police said., Another person suffered minor injuries in the crash., WorkSafe had been advised and the Serious Crash Unit was in attendance police said.',
 'One person has died and another has minor injuries following a serious crash in Nukuhou near Whakatāne in Eastern Bay of Plenty., The crash involved two motorcycles and was reported around 3.15pm., The Serious Crash Unit and WorkSafe are attending the scene.']

### [6] Candidate Scoring

#### [6.1] Where

In [32]:
WT1 = bigdata['Where_Title'].tolist()
WT2 = bigdata['Where_Body'].tolist()
WT1, WT2

(['Bay of Plenty', ''],
 ['the Bay of Plenty,Bell Rd,Nukuhou', 'Nukuhou,Whakatāne,Eastern Bay'])

In [36]:
WT = WT1 + WT2 
WT

words = [w.replace('the ', '') for w in WT]
words = [w.replace('Eastern Bay', 'Eastern Bay of Plenty') for w in words]
words = [w.replace('Eastern', '') for w in words]
words = [w.replace('house', '') for w in words]


str_list = list(filter(None, words))
str_list

['Bay of Plenty',
 'Bay of Plenty,Bell Rd,Nukuhou',
 'Nukuhou,Whakatāne, Bay of Plenty']

In [37]:
str_list2 = ",".join(str_list).split(',')
str_list2 = [x.strip(' ') for x in str_list2] #Remove space before ' Bay of Plenty
str_list2

['Bay of Plenty',
 'Bay of Plenty',
 'Bell Rd',
 'Nukuhou',
 'Nukuhou',
 'Whakatāne',
 'Bay of Plenty']

In [38]:
counts = Counter(str_list2)
counts_where = dict(counts)
print(counts_where)

{'Bay of Plenty': 3, 'Bell Rd': 1, 'Nukuhou': 2, 'Whakatāne': 1}

In [39]:
# d = {'frequency': 0.9, 'position': 0.8, 'relatedness': 0.7}

# frequecy_weight = pd.DataFrame([d], columns=d.keys())

# frequecy_weight

# frequecy_weight = pd.DataFrame([['frequency','position','relatedness'], [0.9, 0.8, 0.7]]).T
# frequecy_weight.columns = ['description','weight']
# frequecy_weight

In [40]:
df_locations = pd.DataFrame(list(counts_where.items()), columns=['locations', 'frequency'])
df_locations

       locations  frequency
0  Bay of Plenty          3
1        Bell Rd          1
2        Nukuhou          2
3      Whakatāne          1

In [41]:
loc_list = df_locations.locations.tolist()
loc_list

['Bay of Plenty', 'Bell Rd', 'Nukuhou', 'Whakatāne']

### Position Score

In [42]:
titletext = bigdata[["Title"]]
titletext

                                               Title
0  One dead after two motorbikes crash in Bay of ...
1   Motorcycles crash leaves one dead near Whakatāne

In [43]:
titletext['locs_in_title'] = titletext.Title.str.findall(f'({"|".join(loc_list)})', flags=re.IGNORECASE)
titletext

                                               Title    locs_in_title
0  One dead after two motorbikes crash in Bay of ...  [Bay of Plenty]
1   Motorcycles crash leaves one dead near Whakatāne      [Whakatāne]

In [44]:
titletext['locs_in_title'] = titletext.locs_in_title.astype(str).str.replace('\[|\]|\'', '')
titletext

                                               Title  locs_in_title
0  One dead after two motorbikes crash in Bay of ...  Bay of Plenty
1   Motorcycles crash leaves one dead near Whakatāne      Whakatāne

In [45]:
titletext['locs_in_title'].replace('', np.nan, inplace=True)
titletext

                                               Title  locs_in_title
0  One dead after two motorbikes crash in Bay of ...  Bay of Plenty
1   Motorcycles crash leaves one dead near Whakatāne      Whakatāne

In [46]:
titletext = titletext.dropna(subset=['locs_in_title'])
titletext
# def y(row):
#     if row['locs_in_title'] == '':
#         val = 0.0
#     else:
#         val = 1.0
#     return val

                                               Title  locs_in_title
0  One dead after two motorbikes crash in Bay of ...  Bay of Plenty
1   Motorcycles crash leaves one dead near Whakatāne      Whakatāne

In [47]:
#df[df['column_name'] == '']
#titletext['title_score'] =  titletext.apply(y, axis=1)
titletext['title_score'] = 1.0
titletext

,Title,locs_in_title,title_score
0,One dead after two motorbikes crash in Bay of ...,Bay of Plenty,1.0
1,Motorcycles crash leaves one dead near Whakatāne,Whakatāne,1.0

In [48]:
bodytext = bigdata[["liststring"]]

bodytext["Shape"]= bodytext["liststring"].str.split("., ")

bodytext = (bodytext.explode("Shape").reset_index(drop=True))

bodytext

,liststring,Shape
0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
4,One person has died and another has minor inju...,One person has died and another has minor inju...
5,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
6,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [49]:
grouped = bodytext.groupby('liststring', as_index=False)
grouped_index = grouped.apply(lambda x: x.reset_index(drop = True)).reset_index()
result = grouped_index.drop('level_0',axis = 1).set_index('level_1')
result

,liststring,Shape
level_1,,
0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
0,One person has died and another has minor inju...,One person has died and another has minor inju...
1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [50]:
result = result.reset_index()
result

,level_1,liststring,Shape
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [51]:
import re
# result['location_mapped_title'] = (result.Shape.str
#                              .findall('|'.join(loc_list))
#                              .str[0])

#x = result.Shape.str.extractall(f'({"|".join(loc_list)})', flags=re.IGNORECASE)
result['locs_in_lines'] = result.Shape.str.findall(f'({"|".join(loc_list)})', flags=re.IGNORECASE)
result
#loc_list = df_locations.location.tolist()
#[i.split('.,')[0] for i in sentence_list] 

#[item.upper() for item in mylis]

,level_1,liststring,Shape,locs_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[Bay of Plenty]
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"[Bell Rd, Nukuhou, Whakatāne]"
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,[]
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,[]
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,"[Nukuhou, Whakatāne, Bay of Plenty]"
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,[]
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,[]

In [52]:
# df_calc = result[['level_1', 'locs_in_lines']]
# df_calc

In [53]:
result['locs_in_lines'] = result.locs_in_lines.astype(str).str.replace('\[|\]|\'', '')

result

,level_1,liststring,Shape,locs_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,Bay of Plenty
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"Bell Rd, Nukuhou, Whakatāne"
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,"Nukuhou, Whakatāne, Bay of Plenty"
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,

In [54]:
result['locs_in_lines'].replace("", np.nan, inplace=True)
result = result.dropna(subset=['locs_in_lines'])
result

,level_1,liststring,Shape,locs_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,Bay of Plenty
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"Bell Rd, Nukuhou, Whakatāne"
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,"Nukuhou, Whakatāne, Bay of Plenty"

In [55]:
def f(row):
    if row['level_1'] == 0:
        val = 1
    elif row['level_1'] == 1:
        val = 0.5
    elif row['level_1'] == 2:
        val = 0.25
    elif row['level_1'] == 3:
        val = 0.125
    elif row['level_1'] == 4:
        val = 0.0625
    else:
        val = 0.03125
    return val

In [56]:
result['body_score'] = result.apply(f, axis=1)
result

,level_1,liststring,Shape,locs_in_lines,body_score
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,Bay of Plenty,1.0
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"Bell Rd, Nukuhou, Whakatāne",0.5
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,"Nukuhou, Whakatāne, Bay of Plenty",1.0

In [57]:
#df_calc = result[['locs_in_lines', 'pos_score']]
result["locations"]=result["locs_in_lines"].str.split(", ")
result = result.explode("locations")

#df_calc = df_calc.groupby('splited')['C'].sum().reset_index() 
print(result)

   level_1                                         liststring  \
0        0  One person has died after two motorbikes crash...
1        1  One person has died after two motorbikes crash...
1        1  One person has died after two motorbikes crash...
1        1  One person has died after two motorbikes crash...
4        0  One person has died and another has minor inju...
4        0  One person has died and another has minor inju...
4        0  One person has died and another has minor inju...

                                               Shape  \
0  One person has died after two motorbikes crash...
1  The crash occurred at 3.15pm on Bell Rd in Nuk...
1  The crash occurred at 3.15pm on Bell Rd in Nuk...
1  The crash occurred at 3.15pm on Bell Rd in Nuk...
4  One person has died and another has minor inju...
4  One person has died and another has minor inju...
4  One person has died and another has minor inju...

                       locs_in_lines  body_score      locations
0                      Bay of Plenty         1.0  Bay of Plenty
1        Bell Rd, Nukuhou, Whakatāne         0.5        Bell Rd
1        Bell Rd, Nukuhou, Whakatāne         0.5        Nukuhou
1        Bell Rd, Nukuhou, Whakatāne         0.5      Whakatāne
4  Nukuhou, Whakatāne, Bay of Plenty         1.0        Nukuhou
4  Nukuhou, Whakatāne, Bay of Plenty         1.0      Whakatāne
4  Nukuhou, Whakatāne, Bay of Plenty         1.0  Bay of Plenty

In [58]:
df_bodytext_score = result.groupby('locations')['body_score'].sum().reset_index() 
df_bodytext_score

       locations  body_score
0  Bay of Plenty         2.0
1        Bell Rd         0.5
2        Nukuhou         1.5
3      Whakatāne         1.5

In [59]:
df_title_score = titletext[['locs_in_title', 'title_score']]
df_title_score['locations'] = df_title_score['locs_in_title']
df_title_score

   locs_in_title  title_score      locations
0  Bay of Plenty          1.0  Bay of Plenty
1      Whakatāne          1.0      Whakatāne

In [60]:
df_position_score = pd.merge(df_bodytext_score, df_title_score, on=['locations'],how='outer')
df_position_score

       locations  body_score  locs_in_title  title_score
0  Bay of Plenty         2.0  Bay of Plenty          1.0
1        Bell Rd         0.5            NaN          NaN
2        Nukuhou         1.5            NaN          NaN
3      Whakatāne         1.5      Whakatāne          1.0

In [61]:
df_position_score['full_position_score'] = df_position_score['body_score'] + df_position_score['title_score']
df_position_score

       locations  body_score  locs_in_title  title_score  full_position_score
0  Bay of Plenty         2.0  Bay of Plenty          1.0                  3.0
1        Bell Rd         0.5            NaN          NaN                  NaN
2        Nukuhou         1.5            NaN          NaN                  NaN
3      Whakatāne         1.5      Whakatāne          1.0                  2.5

In [62]:
df_position_score.full_position_score.fillna(df_position_score.body_score, inplace=True)
df_position_score

       locations  body_score  locs_in_title  title_score  full_position_score
0  Bay of Plenty         2.0  Bay of Plenty          1.0                  3.0
1        Bell Rd         0.5            NaN          NaN                  0.5
2        Nukuhou         1.5            NaN          NaN                  1.5
3      Whakatāne         1.5      Whakatāne          1.0                  2.5

In [63]:
#df_locations['splited'] = df_locations['location']
df_locations

       locations  frequency
0  Bay of Plenty          3
1        Bell Rd          1
2        Nukuhou          2
3      Whakatāne          1

In [64]:
df_position_and_frequency = pd.merge(df_locations, df_position_score, on=['locations'],how='outer')
df_position_and_frequency

,locations,frequency,body_score,locs_in_title,title_score,full_position_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0
1,Bell Rd,1,0.5,NaN,NaN,0.5
2,Nukuhou,2,1.5,NaN,NaN,1.5
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5

In [65]:
df_position_and_frequency['position_and_frequency_score'] = df_position_and_frequency['full_position_score'] + df_position_and_frequency['frequency']
df_position_and_frequency

,locations,frequency,body_score,locs_in_title,title_score,full_position_score,position_and_frequency_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0,6.0
1,Bell Rd,1,0.5,NaN,NaN,0.5,1.5
2,Nukuhou,2,1.5,NaN,NaN,1.5,3.5
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5,3.5

### Relatedness Score

In [66]:
from geopy.geocoders import Nominatim

def geo_code(line):
    x = []
    y = []

    line2 = 'New Zealand'
    n = line + ' + ' + line2
    r = '"' + n + '"'
    


    locator = Nominatim(user_agent='myGeocoder')
    location = locator.geocode(r)
    x.append(location.latitude)
    y.append(location.longitude)
    return x,y

In [67]:
#listofloc = list(set(str_list2))
#cordinates = list(map(geo_code, listofloc))
loc_list
# cordinates = [geo_code(item) for item in listofloc]
# #cordinates
# list_of_coords = [(x[0][0], x[1][0]) for x in cordinates]
# list_of_coords

['Bay of Plenty', 'Bell Rd', 'Nukuhou', 'Whakatāne']

In [68]:
cordinates = [geo_code(item) for item in loc_list]
cordinates

[([-37.9503756], [176.93828736155422]),
 ([-43.6131375], [172.3051281]),
 ([-38.082811], [177.1341941]),
 ([-37.9519223], [176.9945977])]

In [69]:
list_of_coords = [(x[0][0], x[1][0]) for x in cordinates]
list_of_coords

[(-37.9503756, 176.93828736155422),
 (-43.6131375, 172.3051281),
 (-38.082811, 177.1341941),
 (-37.9519223, 176.9945977)]

In [70]:
from math import hypot
from geopy.distance import geodesic

#https://stackoverflow.com/questions/23086078/how-to-iterate-through-a-list-of-coordinates-and-calculate-distance-between-them
def distance(p1,p2):
    x = geodesic(p1, p2).miles
    """Euclidean distance between two points."""
#     x1,y1 = p1
#     x2,y2 = p2

    return x

from itertools import combinations
#list_of_coords = [(-37.9503756, 176.93828736155422), (-43.6131375, 172.3051281), (-38.1272259, 177.1307049)]



distancecombi = [distance(*combo) for combo in combinations(list_of_coords,2)]
distancecombi

[459.9687201814059,
 14.060479803232681,
 3.0771117214399695,
 457.69033046543694,
 461.43937616613573,
 11.811492181575764]

In [71]:
import itertools

locationombi = list(itertools.combinations(loc_list, 2))# cordinates = list(map(geo_code, listofloc))
locationombi

[('Bay of Plenty', 'Bell Rd'),
 ('Bay of Plenty', 'Nukuhou'),
 ('Bay of Plenty', 'Whakatāne'),
 ('Bell Rd', 'Nukuhou'),
 ('Bell Rd', 'Whakatāne'),
 ('Nukuhou', 'Whakatāne')]

In [72]:
import pandas as pd
import numpy as np

df_loc = pd.DataFrame(
    {'locpairs': locationombi,
     'dispairs': distancecombi
    })
df_loc

                     locpairs    dispairs
0    (Bay of Plenty, Bell Rd)  459.968720
1    (Bay of Plenty, Nukuhou)   14.060480
2  (Bay of Plenty, Whakatāne)    3.077112
3          (Bell Rd, Nukuhou)  457.690330
4        (Bell Rd, Whakatāne)  461.439376
5        (Nukuhou, Whakatāne)   11.811492

In [73]:
# from sklearn.preprocessing import MinMaxScaler
# from sklearn import preprocessing
# scaler = preprocessing.MinMaxScaler()
# df_loc['locnormalized'] = scaler.fit_transform(df_loc[['dispairs']])
# df_loc

In [74]:
df_loc['locpairs'] = df_loc.locpairs.astype(str).str.replace('\(|\)|\'', '')
df_loc

                   locpairs    dispairs
0    Bay of Plenty, Bell Rd  459.968720
1    Bay of Plenty, Nukuhou   14.060480
2  Bay of Plenty, Whakatāne    3.077112
3          Bell Rd, Nukuhou  457.690330
4        Bell Rd, Whakatāne  461.439376
5        Nukuhou, Whakatāne   11.811492

In [75]:
def x(row):
    if row['dispairs'] <= 10:
        val = 1
    elif row['dispairs'] <= 20:
        val = 0.5
    elif row['dispairs'] <= 30:
        val = 0.25
    elif row['dispairs'] <= 40:
        val = 0.125
    elif row['dispairs'] <= 50:
        val = 0.0625
    else:
        val = 0.03125
    return val

In [76]:
df_loc['loc_score'] = df_loc.apply(x, axis=1)
df_loc

                   locpairs    dispairs  loc_score
0    Bay of Plenty, Bell Rd  459.968720    0.03125
1    Bay of Plenty, Nukuhou   14.060480    0.50000
2  Bay of Plenty, Whakatāne    3.077112    1.00000
3          Bell Rd, Nukuhou  457.690330    0.03125
4        Bell Rd, Whakatāne  461.439376    0.03125
5        Nukuhou, Whakatāne   11.811492    0.50000

In [77]:
df_relatedness = df_loc.loc[df_loc['loc_score'] == df_loc.loc_score.max()]
df_relatedness

                   locpairs  dispairs  loc_score
2  Bay of Plenty, Whakatāne  3.077112        1.0

In [78]:
df_relatedness["locations"]=df_relatedness["locpairs"].str.split(", ")
df_relatedness = df_relatedness.explode("locations")
df_relatedness

                   locpairs  dispairs  loc_score      locations
2  Bay of Plenty, Whakatāne  3.077112        1.0  Bay of Plenty
2  Bay of Plenty, Whakatāne  3.077112        1.0      Whakatāne

In [79]:
#df_all_score2 = pd.merge(df_all_score, df_relatedness, on=['splited'],how='outer')
df_position_and_frequency

,locations,frequency,body_score,locs_in_title,title_score,full_position_score,position_and_frequency_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0,6.0
1,Bell Rd,1,0.5,NaN,NaN,0.5,1.5
2,Nukuhou,2,1.5,NaN,NaN,1.5,3.5
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5,3.5

In [80]:
# df_relatedness2  = df_relatedness[['splited','loc_score']]
# df_relatedness2
# df_loc.loc[df_loc['locnormalized'] == df_loc.locnormalized.min(), 'locpairs'].tolist()
#loc_list = df_loc.loc[df_loc['dispairs'] <= 20, 'locpairs'].tolist()
#df_locations[df_locations['location'].isin(loc_list)]
#loc_list

In [81]:
df_relatedness.drop_duplicates(subset=['locations'], inplace=True)
df_relatedness

                   locpairs  dispairs  loc_score      locations
2  Bay of Plenty, Whakatāne  3.077112        1.0  Bay of Plenty
2  Bay of Plenty, Whakatāne  3.077112        1.0      Whakatāne

In [82]:
df_relatedness2  = df_relatedness[['locations','loc_score']]
df_relatedness2

       locations  loc_score
2  Bay of Plenty        1.0
2      Whakatāne        1.0

In [83]:
df_all_location_score = pd.merge(df_position_and_frequency, df_relatedness2, on=['locations'],how='outer')
df_all_location_score

,locations,frequency,body_score,locs_in_title,title_score,full_position_score,position_and_frequency_score,loc_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0,6.0,1.0
1,Bell Rd,1,0.5,NaN,NaN,0.5,1.5,NaN
2,Nukuhou,2,1.5,NaN,NaN,1.5,3.5,NaN
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5,3.5,1.0

In [84]:
df_all_location_score['full_location_score'] = df_all_location_score['position_and_frequency_score'] + df_all_location_score['loc_score']
df_all_location_score

,locations,frequency,body_score,locs_in_title,title_score,full_position_score,position_and_frequency_score,loc_score,full_location_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0,6.0,1.0,7.0
1,Bell Rd,1,0.5,NaN,NaN,0.5,1.5,NaN,NaN
2,Nukuhou,2,1.5,NaN,NaN,1.5,3.5,NaN,NaN
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5,3.5,1.0,4.5

In [85]:
df_all_location_score.full_location_score.fillna(df_all_location_score.position_and_frequency_score, inplace=True)
df_all_location_score

,locations,frequency,body_score,locs_in_title,title_score,full_position_score,position_and_frequency_score,loc_score,full_location_score
0,Bay of Plenty,3,2.0,Bay of Plenty,1.0,3.0,6.0,1.0,7.0
1,Bell Rd,1,0.5,NaN,NaN,0.5,1.5,NaN,1.5
2,Nukuhou,2,1.5,NaN,NaN,1.5,3.5,NaN,3.5
3,Whakatāne,1,1.5,Whakatāne,1.0,2.5,3.5,1.0,4.5

In [86]:
#loc = max(counts_where.items(), key=operator.itemgetter(1))[0] #get the maximum value in the dict
#loc = df_all_score2['location'].values[0]
loc = df_all_location_score.loc[df_all_location_score['full_location_score'].idxmax()].values[0]
#df_all_score2.full_score.max()
print("=============================")
print("Where? : ", loc)
print("=============================")

=============================
Where? :  Bay of Plenty
=============================

In [87]:
geocodes = geo_code(loc)
geocodes

([-37.9503756], [176.93828736155422])

In [88]:
listoflist = [list(row) for row in geocodes]
flatlist = list(chain.from_iterable(listoflist))

In [89]:
locationlist = [flatlist*1]

map = folium.Map(zoom_start=12)
for point in range(0, len(locationlist)):
    folium.Marker(locationlist[point]).add_to(map)
map

#### [6.2] When?

In [90]:
When_Title = bigdata['When_Title'].tolist()
When_Body = bigdata['When_Body'].tolist()
When_Body_Regex = bigdata['When_Body_Regex'].tolist()

When_Title, When_Body, When_Body_Regex

(['', ''], ['', ''], ['3.15pm', '3.15pm'])

In [91]:
All_When = When_Title + When_Body + When_Body_Regex
All_When

# words = [w.replace('the', '') for w in WT]
# words = [w.replace('Eastern Bay', 'Eastern Bay of Plenty') for w in words]
# words = [w.replace('Eastern', '') for w in words]

All_When_List = list(filter(None, All_When))
All_When_List

['3.15pm', '3.15pm']

In [92]:
counts = Counter(All_When_List)
counts_when = dict(counts)
print(counts_when)

{'3.15pm': 2}

In [93]:
df_when_frequency = pd.DataFrame(list(counts_when.items()), columns=['times', 'frequency'])
df_when_frequency

    times  frequency
0  3.15pm          2

In [94]:
time_list = df_when_frequency.times.tolist()
time_list

['3.15pm']

#### when? - position score

In [95]:
titletext['times_in_title'] = titletext.Title.str.findall(f'({"|".join(time_list)})', flags=re.IGNORECASE)
titletext

,Title,locs_in_title,title_score,times_in_title
0,One dead after two motorbikes crash in Bay of ...,Bay of Plenty,1.0,[]
1,Motorcycles crash leaves one dead near Whakatāne,Whakatāne,1.0,[]

In [96]:
titletext['times_in_title'] = titletext.times_in_title.astype(str).str.replace('\[|\]|\'', '')
titletext

,Title,locs_in_title,title_score,times_in_title
0,One dead after two motorbikes crash in Bay of ...,Bay of Plenty,1.0,
1,Motorcycles crash leaves one dead near Whakatāne,Whakatāne,1.0,

In [97]:
titletext['times_in_title'].replace('', np.nan, inplace=True)
titletext

,Title,locs_in_title,title_score,times_in_title
0,One dead after two motorbikes crash in Bay of ...,Bay of Plenty,1.0,NaN
1,Motorcycles crash leaves one dead near Whakatāne,Whakatāne,1.0,NaN

In [98]:
titletext = titletext.dropna(subset=['times_in_title'])
titletext

Empty DataFrame
Columns: [Title, locs_in_title, title_score, times_in_title]
Index: []

In [99]:
if not titletext.empty:
    titletext['when_title_score'] = 1.0
titletext

Empty DataFrame
Columns: [Title, locs_in_title, title_score, times_in_title]
Index: []

In [100]:
grouped = bodytext.groupby('liststring', as_index=False)
grouped_index = grouped.apply(lambda x: x.reset_index(drop = True)).reset_index()
result = grouped_index.drop('level_0',axis = 1).set_index('level_1')
result

,liststring,Shape
level_1,,
0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
0,One person has died and another has minor inju...,One person has died and another has minor inju...
1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [101]:
result = result.reset_index()
result

,level_1,liststring,Shape
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [102]:
import re
# result['location_mapped_title'] = (result.Shape.str
#                              .findall('|'.join(loc_list))
#                              .str[0])

#x = result.Shape.str.extractall(f'({"|".join(loc_list)})', flags=re.IGNORECASE)
result['times_in_lines'] = result.Shape.str.findall(f'({"|".join(time_list)})', flags=re.IGNORECASE)
result

,level_1,liststring,Shape,times_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[]
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,[3.15pm]
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,[]
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,[]
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,[]
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,[3.15pm]
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,[]

In [103]:
result['times_in_lines'] = result.times_in_lines.astype(str).str.replace('\[|\]|\'', '')

result

,level_1,liststring,Shape,times_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,3.15pm
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,3.15pm
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,

In [104]:
result['times_in_lines'].replace("", np.nan, inplace=True)
result = result.dropna(subset=['times_in_lines'])
result

,level_1,liststring,Shape,times_in_lines
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,3.15pm
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,3.15pm

In [105]:
result['when_body_score'] = result.apply(f, axis=1)
result

,level_1,liststring,Shape,times_in_lines,when_body_score
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,3.15pm,0.5
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,3.15pm,0.5

In [106]:
#df_calc = result[['locs_in_lines', 'pos_score']]
result["times"]=result["times_in_lines"].str.split(", ")
result = result.explode("times")

#df_calc = df_calc.groupby('splited')['C'].sum().reset_index() 
print(result)

   level_1                                         liststring  \
1        1  One person has died after two motorbikes crash...
5        1  One person has died and another has minor inju...

                                               Shape times_in_lines  \
1  The crash occurred at 3.15pm on Bell Rd in Nuk...         3.15pm
5  The crash involved two motorcycles and was rep...         3.15pm

   when_body_score   times
1              0.5  3.15pm
5              0.5  3.15pm

In [107]:
df_when_bodytext_score = result.groupby('times')['when_body_score'].sum().reset_index() 
df_when_bodytext_score

    times  when_body_score
0  3.15pm              1.0

In [108]:
if not titletext.empty:
    df_when_title_score = titletext[['times_in_title', 'when_title_score']]
    df_when_title_score['times'] = df_when_title_score['times_in_title']

In [109]:
if not titletext.empty:
    df_when_position_score = pd.merge(df_when_bodytext_score, df_when_title_score, on=['times'],how='outer')
else:
    df_when_position_score = df_when_bodytext_score

In [110]:
if not titletext.empty:
    df_when_position_score['full_position_score_when'] = df_when_position_score['when_body_score'] + df_when_position_score['when_title_score']
else:
    df_when_position_score['full_position_score_when'] = df_when_bodytext_score['when_body_score']

In [111]:
df_when_position_score

    times  when_body_score  full_position_score_when
0  3.15pm              1.0                       1.0

In [112]:
df_when_frequency

    times  frequency
0  3.15pm          2

In [113]:
df_position_and_frequency_when = pd.merge(df_when_frequency, df_when_position_score, on=['times'],how='outer')
df_position_and_frequency_when

    times  frequency  when_body_score  full_position_score_when
0  3.15pm          2              1.0                       1.0

In [114]:
df_position_and_frequency_when['position_and_frequency_score'] = df_position_and_frequency_when['full_position_score_when'] + df_position_and_frequency_when['frequency']
df_position_and_frequency_when

,times,frequency,when_body_score,full_position_score_when,position_and_frequency_score
0,3.15pm,2,1.0,1.0,3.0

In [115]:
#when = max(counts_when.items(), key=operator.itemgetter(1))[0]
when = df_position_and_frequency_when.loc[df_position_and_frequency_when['position_and_frequency_score'].idxmax()].values[0]

print("=============================")
print("When? : ", when)
print("=============================")

=============================
When? :  3.15pm
=============================

In [116]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
df_position_and_frequency_when['locnormalized'] = scaler.fit_transform(df_position_and_frequency_when[['position_and_frequency_score']])
df_position_and_frequency_when[['times','locnormalized']]

    times  locnormalized
0  3.15pm            0.0

### what?

In [117]:
What_Title = bigdata['What_Title'].tolist()
What_Body = bigdata['What_Body'].tolist()

What_Title, What_Body

(['dead', 'leaves one dead'],
 ['died, occurred, suffered minor injuries',
  'died, involved two motorcycles, 15pm, attending the scene, attending the scene'])

In [118]:
All_What = What_Title + What_Body
All_What

# words = [w.replace('the', '') for w in WT]
# words = [w.replace('Eastern Bay', 'Eastern Bay of Plenty') for w in words]
# words = [w.replace('Eastern', '') for w in words]

All_What_List = list(filter(None, All_What))
All_What_List

['dead',
 'leaves one dead',
 'died, occurred, suffered minor injuries',
 'died, involved two motorcycles, 15pm, attending the scene, attending the scene']

In [119]:
str_list3 = ",".join(All_What_List).split(',')
str_list3 = [x.strip(' ') for x in str_list3] #Remove space before ' Bay of Plenty
str_list3

['dead',
 'leaves one dead',
 'died',
 'occurred',
 'suffered minor injuries',
 'died',
 'involved two motorcycles',
 '15pm',
 'attending the scene',
 'attending the scene']

In [120]:
counts = Counter(str_list3)
counts_what = dict(counts)
print(counts_what)

{'dead': 1, 'leaves one dead': 1, 'died': 2, 'occurred': 1, 'suffered minor injuries': 1, 'involved two motorcycles': 1, '15pm': 1, 'attending the scene': 2}

In [121]:
df_phrases = pd.DataFrame(list(counts_what.items()), columns=['phrases', 'frequency'])
df_phrases #Frequency dataframe-What

                    phrases  frequency
0                      dead          1
1           leaves one dead          1
2                      died          2
3                  occurred          1
4   suffered minor injuries          1
5  involved two motorcycles          1
6                      15pm          1
7       attending the scene          2

In [124]:
phrase_list = df_phrases.phrases.tolist()
phrase_list

['dead',
 'leaves one dead',
 'died',
 'occurred',
 'suffered minor injuries',
 'involved two motorcycles',
 '15pm',
 'attending the scene']

#### Position score

In [125]:
titletext = bigdata[["Title"]]
titletext

                                               Title
0  One dead after two motorbikes crash in Bay of ...
1   Motorcycles crash leaves one dead near Whakatāne

In [126]:
titletext['phrase_in_title'] = titletext.Title.str.findall(f'({"|".join(phrase_list)})', flags=re.IGNORECASE)
titletext

                                               Title    phrase_in_title
0  One dead after two motorbikes crash in Bay of ...             [dead]
1   Motorcycles crash leaves one dead near Whakatāne  [leaves one dead]

In [127]:
titletext['phrase_in_title'] = titletext.phrase_in_title.astype(str).str.replace('\[|\]|\'', '')
titletext

                                               Title  phrase_in_title
0  One dead after two motorbikes crash in Bay of ...             dead
1   Motorcycles crash leaves one dead near Whakatāne  leaves one dead

In [128]:
titletext['phrase_in_title'].replace('', np.nan, inplace=True)
titletext

                                               Title  phrase_in_title
0  One dead after two motorbikes crash in Bay of ...             dead
1   Motorcycles crash leaves one dead near Whakatāne  leaves one dead

In [129]:
titletext = titletext.dropna(subset=['phrase_in_title'])
titletext

                                               Title  phrase_in_title
0  One dead after two motorbikes crash in Bay of ...             dead
1   Motorcycles crash leaves one dead near Whakatāne  leaves one dead

In [130]:
titletext['phrase_title_score'] = 1.0
titletext

,Title,phrase_in_title,phrase_title_score
0,One dead after two motorbikes crash in Bay of ...,dead,1.0
1,Motorcycles crash leaves one dead near Whakatāne,leaves one dead,1.0

In [131]:
bodytext

,liststring,Shape
0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
4,One person has died and another has minor inju...,One person has died and another has minor inju...
5,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
6,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [132]:
grouped = bodytext.groupby('liststring', as_index=False)
grouped_index = grouped.apply(lambda x: x.reset_index(drop = True)).reset_index()
result = grouped_index.drop('level_0',axis = 1).set_index('level_1')
result

,liststring,Shape
level_1,,
0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
0,One person has died and another has minor inju...,One person has died and another has minor inju...
1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [133]:
result = result.reset_index()
result

,level_1,liststring,Shape
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...

In [134]:
import re
# result['location_mapped_title'] = (result.Shape.str
#                              .findall('|'.join(loc_list))
#                              .str[0])

#x = result.Shape.str.extractall(f'({"|".join(loc_list)})', flags=re.IGNORECASE)
result['phrase_in_lines'] = result.Shape.str.findall(f'({"|".join(phrase_list)})', flags=re.IGNORECASE)
result

,level_1,liststring,Shape,phrase_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,[died]
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"[occurred, 15pm]"
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,[suffered minor injuries]
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,[]
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,[died]
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"[involved two motorcycles, 15pm]"
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,[attending the scene]

In [135]:
result['phrase_in_lines'] = result.phrase_in_lines.astype(str).str.replace('\[|\]|\'', '')

result

,level_1,liststring,Shape,phrase_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,died
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"occurred, 15pm"
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,suffered minor injuries
3,3,One person has died after two motorbikes crash...,WorkSafe had been advised and the Serious Cras...,
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,died
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"involved two motorcycles, 15pm"
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,attending the scene

In [136]:
result['phrase_in_lines'].replace("", np.nan, inplace=True)
result = result.dropna(subset=['phrase_in_lines'])
result

,level_1,liststring,Shape,phrase_in_lines
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,died
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"occurred, 15pm"
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,suffered minor injuries
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,died
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"involved two motorcycles, 15pm"
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,attending the scene

In [137]:
result['what_body_score'] = result.apply(f, axis=1)
result

,level_1,liststring,Shape,phrase_in_lines,what_body_score
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,died,1.00
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"occurred, 15pm",0.50
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,suffered minor injuries,0.25
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,died,1.00
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"involved two motorcycles, 15pm",0.50
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,attending the scene,0.25

In [138]:
#df_calc = result[['locs_in_lines', 'pos_score']]
result["phrases"]=result["phrase_in_lines"].str.split(", ")
result = result.explode("phrases")

#df_calc = df_calc.groupby('splited')['C'].sum().reset_index() 
result

,level_1,liststring,Shape,phrase_in_lines,what_body_score,phrases
0,0,One person has died after two motorbikes crash...,One person has died after two motorbikes crash...,died,1.00,died
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"occurred, 15pm",0.50,occurred
1,1,One person has died after two motorbikes crash...,The crash occurred at 3.15pm on Bell Rd in Nuk...,"occurred, 15pm",0.50,15pm
2,2,One person has died after two motorbikes crash...,Another person suffered minor injuries in the ...,suffered minor injuries,0.25,suffered minor injuries
4,0,One person has died and another has minor inju...,One person has died and another has minor inju...,died,1.00,died
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"involved two motorcycles, 15pm",0.50,involved two motorcycles
5,1,One person has died and another has minor inju...,The crash involved two motorcycles and was rep...,"involved two motorcycles, 15pm",0.50,15pm
6,2,One person has died and another has minor inju...,The Serious Crash Unit and WorkSafe are attend...,attending the scene,0.25,attending the scene

In [139]:
df_bodytext_score_what = result.groupby('phrases')['what_body_score'].sum().reset_index() 
df_bodytext_score_what

                    phrases  what_body_score
0                      15pm             1.00
1       attending the scene             0.25
2                      died             2.00
3  involved two motorcycles             0.50
4                  occurred             0.50
5   suffered minor injuries             0.25

In [140]:
df_title_score_what = titletext[['phrase_in_title', 'phrase_title_score']]
df_title_score_what['phrases'] = df_title_score_what['phrase_in_title']
df_title_score_what

   phrase_in_title  phrase_title_score          phrases
0             dead                 1.0             dead
1  leaves one dead                 1.0  leaves one dead

In [141]:
df_position_score_what = pd.merge(df_bodytext_score_what, df_title_score_what, on=['phrases'],how='outer')
df_position_score_what

,phrases,what_body_score,phrase_in_title,phrase_title_score
0,15pm,1.00,NaN,NaN
1,attending the scene,0.25,NaN,NaN
2,died,2.00,NaN,NaN
3,involved two motorcycles,0.50,NaN,NaN
4,occurred,0.50,NaN,NaN
5,suffered minor injuries,0.25,NaN,NaN
6,dead,NaN,dead,1.0
7,leaves one dead,NaN,leaves one dead,1.0

In [142]:
df_position_score_what['full_position_score_what'] = df_position_score_what['what_body_score'] + df_position_score_what['phrase_title_score']
df_position_score_what

,phrases,what_body_score,phrase_in_title,phrase_title_score,full_position_score_what
0,15pm,1.00,NaN,NaN,NaN
1,attending the scene,0.25,NaN,NaN,NaN
2,died,2.00,NaN,NaN,NaN
3,involved two motorcycles,0.50,NaN,NaN,NaN
4,occurred,0.50,NaN,NaN,NaN
5,suffered minor injuries,0.25,NaN,NaN,NaN
6,dead,NaN,dead,1.0,NaN
7,leaves one dead,NaN,leaves one dead,1.0,NaN

In [143]:
df_position_score_what.full_position_score_what.fillna(df_position_score_what.what_body_score, inplace=True)
df_position_score_what

,phrases,what_body_score,phrase_in_title,phrase_title_score,full_position_score_what
0,15pm,1.00,NaN,NaN,1.00
1,attending the scene,0.25,NaN,NaN,0.25
2,died,2.00,NaN,NaN,2.00
3,involved two motorcycles,0.50,NaN,NaN,0.50
4,occurred,0.50,NaN,NaN,0.50
5,suffered minor injuries,0.25,NaN,NaN,0.25
6,dead,NaN,dead,1.0,NaN
7,leaves one dead,NaN,leaves one dead,1.0,NaN

In [144]:
df_position_score_what.full_position_score_what.fillna(df_position_score_what.phrase_title_score, inplace=True)
df_position_score_what

,phrases,what_body_score,phrase_in_title,phrase_title_score,full_position_score_what
0,15pm,1.00,NaN,NaN,1.00
1,attending the scene,0.25,NaN,NaN,0.25
2,died,2.00,NaN,NaN,2.00
3,involved two motorcycles,0.50,NaN,NaN,0.50
4,occurred,0.50,NaN,NaN,0.50
5,suffered minor injuries,0.25,NaN,NaN,0.25
6,dead,NaN,dead,1.0,1.00
7,leaves one dead,NaN,leaves one dead,1.0,1.00

In [145]:
df_phrases #Frequency dataframe-What

                    phrases  frequency
0                      dead          1
1           leaves one dead          1
2                      died          2
3                  occurred          1
4   suffered minor injuries          1
5  involved two motorcycles          1
6                      15pm          1
7       attending the scene          2

In [146]:
df_position_and_frequency_what = pd.merge(df_phrases, df_position_score_what, on=['phrases'],how='outer')
df_position_and_frequency_what

,phrases,frequency,what_body_score,phrase_in_title,phrase_title_score,full_position_score_what
0,dead,1,NaN,dead,1.0,1.00
1,leaves one dead,1,NaN,leaves one dead,1.0,1.00
2,died,2,2.00,NaN,NaN,2.00
3,occurred,1,0.50,NaN,NaN,0.50
4,suffered minor injuries,1,0.25,NaN,NaN,0.25
5,involved two motorcycles,1,0.50,NaN,NaN,0.50
6,15pm,1,1.00,NaN,NaN,1.00
7,attending the scene,2,0.25,NaN,NaN,0.25

In [147]:
df_position_and_frequency_what['position_and_frequency_score_what'] = df_position_and_frequency_what['full_position_score_what'] + df_position_and_frequency_what['frequency']
df_position_and_frequency_what

,phrases,frequency,what_body_score,phrase_in_title,phrase_title_score,full_position_score_what,position_and_frequency_score_what
0,dead,1,NaN,dead,1.0,1.00,2.00
1,leaves one dead,1,NaN,leaves one dead,1.0,1.00,2.00
2,died,2,2.00,NaN,NaN,2.00,4.00
3,occurred,1,0.50,NaN,NaN,0.50,1.50
4,suffered minor injuries,1,0.25,NaN,NaN,0.25,1.25
5,involved two motorcycles,1,0.50,NaN,NaN,0.50,1.50
6,15pm,1,1.00,NaN,NaN,1.00,2.00
7,attending the scene,2,0.25,NaN,NaN,0.25,2.25

In [148]:
what = df_position_and_frequency_what.loc[df_position_and_frequency_what['position_and_frequency_score_what'].idxmax()].values[0]

print("=============================")
print("What? : ", what)
print("=============================")

=============================
What? :  died
=============================

In [149]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
df_position_and_frequency_what['locnormalized'] = scaler.fit_transform(df_position_and_frequency_what[['position_and_frequency_score_what']])
df_position_and_frequency_what[['phrases','locnormalized']]

                    phrases  locnormalized
0                      dead       0.272727
1           leaves one dead       0.272727
2                      died       1.000000
3                  occurred       0.090909
4   suffered minor injuries       0.000000
5  involved two motorcycles       0.090909
6                      15pm       0.272727
7       attending the scene       0.363636