In [1]:
#https://medium.com/analytics-vidhya/automated-keyword-extraction-from-articles-using-nlp-bfd864f41b34
import pandas as pd
import numpy as np

df = pd.read_csv('allText3.csv', usecols=['Date', 'Title', 'Description'])
df.head()

,Date,Title,Description
0,2018-01-05 01:09:43.848000+00:00,"Heavy rain closes roads in Christchurch, cause...",Heavy rain has caused surface flooding and clo...
1,2018-01-05 07:16:21.132000+00:00,Deadly storm causes travel chaos amid evacuati...,"Carnage at the Milford Marina, North Shore whe..."
2,2018-01-05 01:09:39.197000+00:00,"Roads under water and fallen trees, as storm w...",Damage to State Highway 25 after Friday's stor...
3,2018-01-05 00:32:58.889000+00:00,Tree fall in Rotorua kills woman in car,The fire service were at Arawa St in Rotorua o...
4,2018-01-05 01:26:27.298000+00:00,Thames Coast road severely damaged in wake of ...,Footage of East Coast Road on Friday morning -...

In [2]:
df['word_count'] = df['Description'].apply(lambda x: len(str(x).split(" ")))
df[['Description','word_count']].head()

                                         Description  word_count
0  Heavy rain has caused surface flooding and clo...         471
1  Carnage at the Milford Marina, North Shore whe...         919
2  Damage to State Highway 25 after Friday's stor...         825
3  The fire service were at Arawa St in Rotorua o...         228
4  Footage of East Coast Road on Friday morning -...         910

In [3]:
df.word_count.describe()

count      66.000000
mean      881.803030
std       594.811909
min        54.000000
25%       485.000000
50%       712.500000
75%      1107.250000
max      2714.000000
Name: word_count, dtype: float64

In [6]:
freq = pd.Series(' '.join(df['Description']).split()).value_counts()[:20]
freq

the     2942
of      1670
and     1600
to      1570
in      1464
a        921
on       760
was      702
at       469
were     458
The      430
said     420
for      361
had      337
with     334
from     328
be       299
it       298
is       294
snow     289
dtype: int64

In [7]:
freq1 = pd.Series(' '.join(df['Description']).split()).value_counts()[-20:]
freq1

Whenuapi            1
night,"             1
far,                1
sessions.           1
GORDY               1
trigger             1
FLOODS              1
coughed             1
Waikato.            1
SQUIRES             1
FAMILY              1
Jess,               1
Rochelle            1
Australians         1
self-evacuations    1
Ajay                1
inundate            1
Lansdowne           1
Tilly               1
NORTH               1
dtype: int64

In [8]:
df2 = pd.read_csv('allText4.csv', usecols=['CleanedNews'])
df2.head()

                                         CleanedNews
0  heavy rain caused surface flooding closed road...
1  carnage milford marina north shore storm overt...
2  damage state highway friday storm ripped resid...
3  fire service arawa rotorua friday morning tree...
4  footage east coast road friday morning main ro...

In [9]:
df2['word_count'] = df2['CleanedNews'].apply(lambda x: len(str(x).split(" ")))
df2[['CleanedNews','word_count']].head()

                                         CleanedNews  word_count
0  heavy rain caused surface flooding closed road...         286
1  carnage milford marina north shore storm overt...         553
2  damage state highway friday storm ripped resid...         498
3  fire service arawa rotorua friday morning tree...         142
4  footage east coast road friday morning main ro...         553

In [10]:
df2.word_count.describe()

count      66.000000
mean      527.893939
std       351.985364
min        36.000000
25%       287.250000
50%       444.000000
75%       677.000000
max      1606.000000
Name: word_count, dtype: float64

In [11]:
freq2 = pd.Series(' '.join(df2['CleanedNews']).split()).value_counts()[:20]
freq2

said            687
snow            505
road            258
wellington      245
people          192
closed          191
morning         174
rain            168
would           156
christchurch    156
north           156
storm           144
heavy           140
stuff           136
weather         133
south           131
fire            125
power           122
bay             121
highway         119
dtype: int64